/**** LESS Reset to remove all browser default styling ****/
@import "reset.less";
/**** LESS Variable Imports ****/
@import "variables.less";

body{
	font-family: @font-family;
	font-size: @norm-font;
	padding:0;
	margin:0;
}

/**** General Typography ****/
h1{font-size: @h1/1.55;text-transform: @upp;}
h2{font-size: @h2/1.55;font-weight:200;}
h3{font-size: @h3/1.55;font-weight:200;}

@media screen and (min-width: 545px) {
	h1{font-size: @h1;}
	h2{font-size: @h2;}
	h3{font-size: @h3;}
}
.fancy{font-style: @i;}
/**** End General Typography ****/

.container{
	padding:@container;
}

.clear{clear:both;}

/**** Begin Header Section ****/
header{

	text-align: @cent;
	height: 568px;
	background: @section1-bg;
	background-size: cover;

	nav{

		height:62px;

		img{
			max-width: 150px;
			margin-top: 5px;
			float:left;
		}

		#support{
			border:1px solid @forest;
			margin-top: 13px!important;
			border-radius: @bordr-rd;
			margin-left:2px;
		}

		#support a{
			margin:0;
		}

		#support:hover{
			.transitions;
			background-color: @forest-hover;
			color:@white;
		}

		ul{
			list-style: none;
			float: right;
		}

		ul li{
			float:left;

		}

		ul li a{
			display: inline-block;
			padding: 5px 15px;
			margin-top:15px;
			color:@forest;
		}
		
		ul li:hover{

		}

		ul li a:hover{
			background-color: @forest-hover;
			color: @white;
			.transitions;
			.brdr-style;
		}

		.sub-content{
			position: absolute;
			overflow: hidden;
			max-height: 0;
		}

		.sub-content{
			background-color: @forest-hover;
			.drop-down-menu;
		}

		.sub-nav ul{
			max-width: 120px;
			float:none;
		}

		.sub-nav ul li{
			width:100%;
		}

		.sub-nav ul li a{
			display: block;
			margin:0 auto;
			width: 100%;
			padding:5px 0;
			color:@white;
		}

		a.has-sub-content{
			.drop-down-btn;
		}

		a.has-sub-content:focus{
			background-color: @forest-hover;
			.drop-down-btn;
			color: @white;
		}

		a.has-sub-content:focus ~ .sub-content{
			background-color: @forest-hover;
			color:@white;
			max-height:200px;
		}

		a.has-sub-content:hover ~ .sub-content{
			max-height:200px;
			.transition-maxHeights;
		}

		.sub-content:hover {
    		max-height: 200px;
		}
		.sub-content:active {
			max-height: 200px;
		}

		@media screen and (max-width:520px) {
			ul{
				display: inline-block;
				width:88%;
				text-align: left;
			}
			img{
				float: none;
			}
			#support{
				margin: 0!important;
			}
			ul li a{
				margin: 0;
			}
			.sub-nav ul li a{
				text-align: center;
				color:@white;
			}
		}
	
		@media screen and (max-width:415px) {
			ul{
				float:none;
				display: inline-block;
				width:100%;
				text-align: left;
			}	
		}

		@media screen and (max-width:365px) {
			#support{
				border:0;
			}
			ul li a{
				padding:5px 10px;
			}
		}

	}

	#section-one{
		
		margin-top: 90px;

		h1{
			margin:30px 0;
		}

		#learn{
			text-transform: @upp;
			text-decoration: none;
			background-color:@forest;
			padding:12px 30px;
			border-radius: @bordr-rd;
			color: @white;
			.transitions;
		}

		#learn:hover{
			background-color: @forest-hover;
			padding:12px*2 30px*2;
			border-radius: @bordr-rd*2;
			.transitions;
		}

		@media screen and (min-width: 545px) {
			margin-top: 120px;
			p{font-size: 20px;}
		}

	}

}
/**** End Header Section ****/

/**** Begin Second Section ****/
section{

	text-align: @cent;
	padding:50px 0;

	.section-two{
		
		p{
			color:@section-text;
			margin:25px 0;
		}

		a{
			color: @forest;
		}
		a:hover{
			border-bottom: 3px solid @forest;
		}

		.grid{
			position: relative;
		    margin: 0 auto;
		    padding: 1em 0 4em;
		    max-width: 1200px;
		    list-style: none;
		    text-align: center;
		}
		.grid figure{
			position: relative;
		    float: left;
		    overflow: hidden;
		    margin: 10px 1%;
		    min-width: 320px;
		    max-width: 580px;
		    max-height: 360px;
		    width: 48%;
		    text-align: center;
		    cursor: pointer;
		}
		.grid figure img{
			position: relative;
		    display: block;
		    min-height: 100%;
		    max-width: 100%;
		    opacity: 0.8;
		}

		/*.grid figure figcaption, .grid figure figcaption > a {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		}*/
		.grid figure figcaption {
		    padding-top: 20px;
		    padding-left: 20px;
		    color: @white;
		    /*text-transform: uppercase;*/
		    -webkit-backface-visibility: hidden;
		    backface-visibility: hidden;
		}

		/*.grid figure h3 {
		    word-spacing: -0.15em;
		    font-weight: 300;
		}*/

		.grid figure figcaption > a {
		    z-index: 5;
		    /*text-indent: 200%;
		    white-space: nowrap;
		    font-size: 0;*/
		    opacity: 0;
		}
		.grid figure figcaption, .grid figure figcaption > a {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		}

		figure.image-effects {
			background: @forest-hover;
		}

		figure.image-effects img {
			max-width: none;
			width: -webkit-calc(100% + 20px);
			width: calc(100% + 20px);
			-webkit-transition: opacity @trns, -webkit-transform @trns;
			transition: opacity @trns, transform @trns;
			-webkit-transform: translate3d(-10px,0,0);
			transform: translate3d(-10px,0,0);
			-webkit-backface-visibility: hidden;
			/*backface-visibility: hidden;*/
		}

		figure.image-effects:hover img {
			opacity: 0.4;
			-webkit-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
		}

		figure.image-effects figcaption {
			text-align: left;
		}

		figure.image-effects h3 {
			position: relative;
			overflow: hidden;
			max-width: 280px;
			text-transform: uppercase;
		}

		figure.image-effects:hover h3::after {
			-webkit-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
		}

		figure.image-effects h3::after {
			-webkit-box-sizing: border-box;
    		box-sizing: border-box;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 3px;
			background: @white;
			content: '';
			-webkit-transition: -webkit-transform @trns;
			transition: transform @trns;
			-webkit-transform: translate3d(-100%,0,0);
			transform: translate3d(-100%,0,0);
		}

		figure.image-effects p {
			/*padding: 1em 0;*/
			opacity: 0;
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
			-webkit-transform: translate3d(100%,0,0);
			transform: translate3d(100%,0,0);
			max-width: 90%;
		}

		figure.image-effects:hover p {
			opacity: 1;
			-webkit-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			color: @white;
		}

		@media screen and (max-width:755px) {
			.grid figure{
				width:100%;
				float: none;
    			display: inline-block;
    			min-width: 274px;
			}
		}
	}/**** this is the end of .section-two ****/
}
/**** End Second Section ****/

/**** Start Third Section / Social Media Buttons ****/
section{

	padding: 0;

	.section-three{
		background-color: @forest-hover;
		
		.social-container{
			
			padding: 30px;

			.social-icons{
				max-width: 40px;
				margin: 0 1%;
				.transitions;
			}

			.social-icons:hover{
				opacity: .5;
				.transitions;
			}
		}
	}
}
/**** End Third Section / Social Media Buttons ****/

/**** Start Footer Section ****/
footer{

	padding:20px 0;
	text-align: @cent;
	background-color: #333;
	color: @white;

	p{
		margin-bottom:20px;
	}

	a{
		color: @forest;
	}
	a:hover{
		border-bottom: 3px solid @forest;
	}
}
/**** End Footer Section ****/




