/**** LESS Reset to remove all browser default styling ****/
@import "reset.less";
/**** LESS Variable Imports ****/
@import "variables.less";

body{
	font-family: @font-family;
	font-size: @norm-font;
	padding:0;
	margin:0;
}

/**** General Typography ****/
h1{font-size: @h1/1.55;text-transform: @upp;}
h2{font-size: @h2/1.55;font-weight:200;}
h3{font-size: @h3/1.55;}

@media screen and (min-width: 545px) {
	h1{font-size: @h1;}
	h2{font-size: @h2;}
	h3{font-size: @h3;}
}
.fancy{font-style: @i;}
/**** End General Typography ****/

.container{
	padding:@container;
}

.clear{clear:both;}

.transitions{
	transition:@trns;
	-webkit-transition:@trns;
	-moz-transition:@trns; 
	-o-transition:@trns;
}
.transition-maxHeights{
	transition: max-height @trns ease-in;
	-webkit-transition: max-height @trns ease-in;
	-moz-transition: max-height @trns ease-in; 
	-o-transition: max-height @trns ease-in;
}
.brdr-style{
	border-radius: @bordr-rd;
}

/**** Begin Header Section ****/
header{

	text-align: @cent;
	height: 568px;
	background: @section1-bg;
	background-size: cover;

	nav{

		height:62px;

		img{
			max-width: 150px;
			margin-top: 5px;
			float:left;
		}

		#support{
			border:1px solid @forest;
			margin-top: 13px!important;
			border-radius: @bordr-rd;
		}

		#support a{
			margin:0;
		}

		#support:hover{
			.transitions;
			background-color: @forest-hover;
			color:@white;
		}

		ul{
			list-style: none;
			float: right;
		}

		ul li{
			float:left;

		}

		ul li a{
			display: inline-block;
			padding: 5px 15px;
			margin:15px 0px;
			color:@forest;
		}
		
		ul li:hover{

		}

		ul li a:hover{
			background-color: @forest-hover;
			color: @white;
			.transitions;
			.brdr-style;
		}

		.sub-content{
			position: absolute;
			top:62px;
			overflow: hidden;
			max-height: 0;
		}

		.sub-nav{
			
		}

		.sub-nav ul{
			max-width: 120px;
		}

		.sub-nav ul li{
			width:100%;
		}

		.sub-nav ul li a{
			display: block;
			margin:0 auto;
			width: 100%;
			padding:5px 0;
		}

		ul li a:focus{
			background-color: @forest-softer;
			.brdr-style;
		}

		ul li a:focus ~ .sub-content{
			max-height:200px;
			.transition-maxHeights;
		}




	}

	/* start of nav for button drop down nav{

		height:62px;

		img{
			max-width: 150px;
			margin-top: 5px;
			float:left;
		}

		#support{
			border:1px solid @forest;
			margin-top: 12px!important;
			border-radius: @bordr-rd;
		}

		#support:hover{
			.transitions;
			background-color: @forest-hover;
			color:@white;
		}

		ul {
			float: right;
			list-style: none;
			overflow: hidden;
			margin: 5px 0 0 0;
			.transition-maxHeights;
		}

		ul li {
			display: inline-block;
		}

		ul li a {
			color:@forest;
			padding: 0 14px;
		}

		ul li:hover{
			background-color: @forest-hover;
			border-radius: @bordr-rd;
			color: @white;
			.transitions;

			a:hover{
				color: @white;
			}
		}

		.nav-handle{
			width:50px;
			font-size: 21px;
			float:right;
			background-color: @forest;
			text-align: center;
			box-sizing: border-box;
			padding:10px 15px;
			cursor: pointer;
			color: @white;
			border-radius: 10px;
			margin: 4px 0 0 0;
			display:none;
		}
		
		@media screen and (max-width:545px) {
			ul{
				max-height: 0px;
				float:none;
				margin:0;
			}
			.show-nav{
				max-height: 20em;
				background-color: @forest-softer;
				border-bottom-left-radius:10px!important;
				border-bottom-right-radius:10px!important;
			}
			ul li {
				box-sizing: border-box;
				width:100%;
				text-align: @cent;
				margin:3px 1px!important;
			}
			ul li a{
				color:@white;
				width:100%;
				padding:5px 35px;
			}
			.nav-handle{
				display: block;
			}
			#support{
				margin:3px 1px!important;
				border:0;
			}
		}

	} end of nav for button drop down */


	#section-one{
		
		margin-top: 90px;

		h1{
			margin:30px 0;
		}

		#learn{
			text-transform: @upp;
			text-decoration: none;
			background-color:@forest;
			padding:12px 30px;
			border-radius: @bordr-rd;
			color: @white;
		}

		#learn:hover{
			background-color: @forest-hover;
		}

		@media screen and (min-width: 545px) {
			margin-top: 120px;
			p{font-size: 20px;}
		}

	}

}
/**** End Header Section ****/

/**** Begin Second Section ****/
section{

	text-align: @cent;
	padding:50px 0;

	.section-two{
		
		p{
			color:@section-text;
			margin:25px 0;
		}

		a{
			color: @forest;
		}
		a:hover{
			border-bottom: 3px solid @forest;
		}

	}
}
/**** End Second Section ****/


